body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  font-family: "Inter", sans-serif;
}
body main {
  margin: 0 auto;
  width: 99%;
}
body img {
  cursor: pointer;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 99%;
  margin-top: 2.5px;
}
header h1, header h2, header h3 {
  font-size: 13px;
  font-weight: 700;
}
header > :nth-child(1), header > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border: 1px solid black;
  border-radius: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header > :nth-child(1) {
  width: 20%;
  padding: 2.5px;
}
header > :nth-child(1) > :nth-child(1) {
  border-radius: 30px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap wrap;
      flex-flow: wrap wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5px;
}
header > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  width: 60%;
  text-align: center;
  border-radius: 30px;
}
header > :nth-child(1) > :nth-child(1) > :nth-child(1) h1 {
  color: white;
}
header > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  border-radius: 30px;
  background: white;
  width: 100%;
  max-width: 18.5px;
  padding: 10px 25px;
}
header > :nth-child(1) > :nth-child(1) > :nth-child(2) img {
  width: 100%;
}
header > :nth-child(2) {
  width: 80%;
  padding: 2.5px;
}
header > :nth-child(2) > :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-radius: 30px;
}
header > :nth-child(2) > :nth-child(1) > :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
header > :nth-child(2) > :nth-child(1) > :nth-child(1) {
  gap: 2.5px;
}
header > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(1), header > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(2), header > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(3) {
  border: 1px solid black;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  width: 100%;
  max-width: 18.5px;
  padding: 12px;
}
header > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(1) img, header > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(2) img, header > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(3) img {
  width: 100%;
}
header > :nth-child(2) > :nth-child(1) > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 80%;
}
header > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  gap: 2.5px;
}
header > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) > :nth-child(1), header > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 30px;
  border: 1px solid black;
  padding: 2.5px;
}
header > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(1), header > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) {
  padding-left: 10px;
}
header > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(2), header > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  height: 35px;
  border-radius: 30px;
  padding: 2.5px 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) > :nth-child(1) {
  width: 25%;
}
header > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  background: #C3DA37;
}
header > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) > :nth-child(2) {
  width: 30%;
}
header > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(2) {
  color: white;
  background: #919191;
}
header > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(2) h3 {
  font-weight: 400;
}
header > :nth-child(2) > :nth-child(1) .containHide {
  display: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main h2, main h3, main h4, main p {
  all: unset;
}
main h2, main h3, main h4 {
  font-weight: bold;
}
main span {
  text-decoration: underline;
}
main section, main article, main footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  border-radius: 30px;
  height: 99%;
  width: 33.5%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
}
main section > :nth-child(1), main article > :nth-child(1), main footer > :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 87%;
  height: 95%;
  padding-top: 20px;
}
main section > :nth-child(1) > :nth-child(2) > :nth-child(3) h4, main article > :nth-child(1) > :nth-child(2) > :nth-child(3) h4, main footer > :nth-child(1) > :nth-child(2) > :nth-child(3) h4 {
  font-size: 13.5px;
  padding: 2.5px 5px;
  border: 1px solid;
  border-radius: 30px;
}
main section > :nth-child(1) > :nth-child(3), main article > :nth-child(1) > :nth-child(3), main footer > :nth-child(1) > :nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
main section > :nth-child(1) > :nth-child(3) > :nth-child(1), main article > :nth-child(1) > :nth-child(3) > :nth-child(1), main footer > :nth-child(1) > :nth-child(3) > :nth-child(1) {
  display: none;
}
main section > :nth-child(1) > :nth-child(3) > :nth-child(1) p, main article > :nth-child(1) > :nth-child(3) > :nth-child(1) p, main footer > :nth-child(1) > :nth-child(3) > :nth-child(1) p {
  font-size: 11px;
}
main section > :nth-child(1) > :nth-child(3) > :nth-child(2), main article > :nth-child(1) > :nth-child(3) > :nth-child(2), main footer > :nth-child(1) > :nth-child(3) > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  border-radius: 30px;
  padding: 7.5px 15px;
}
main section > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(1), main section > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(2), main article > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(1), main article > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(2), main footer > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(1), main footer > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(2) {
  width: 100%;
  max-width: 20px;
}
main section > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(1) img, main section > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(2) img, main article > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(1) img, main article > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(2) img, main footer > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(1) img, main footer > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(2) img {
  width: 100%;
}
main section > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(2), main article > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(2), main footer > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(2) {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
main section:hover, main article:hover, main footer:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
main section {
  background: url("../IMG/photo1.jpg") center no-repeat;
  background-size: cover;
  color: white;
}
main section > :nth-child(1) > :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
main section > :nth-child(1) > :nth-child(1) > :nth-child(1) h2 {
  font-size: 110px;
}
main section > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  width: 100%;
  max-width: 30px;
}
main section > :nth-child(1) > :nth-child(1) > :nth-child(2) img {
  border-radius: 50%;
  width: 100%;
}
main section > :nth-child(1) > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
main section > :nth-child(1) > :nth-child(2) > :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 2px;
}
main section > :nth-child(1) > :nth-child(2) > :nth-child(1) h3 {
  font-size: 16px;
}
main section > :nth-child(1) > :nth-child(2) .hideSection {
  display: none;
}
main section > :nth-child(1) > :nth-child(2) > :nth-child(3) {
  margin-top: 25px;
  width: 100%;
}
main section > :nth-child(1) > :nth-child(2) > :nth-child(3) h4 {
  border-color: white;
}
main section.open {
  width: 50%;
}
main section.open > :nth-child(1) > :nth-child(2) > :nth-child(1) {
  display: none;
}
main section.open > :nth-child(1) > :nth-child(2) .hideSection {
  display: block;
}
main section.open > :nth-child(1) > :nth-child(2) .hideSection p {
  line-height: 22px;
  font-size: 17px;
}
main section.open > :nth-child(1) > :nth-child(2) > :nth-child(3) {
  display: none;
}
main section.open > :nth-child(1) > :nth-child(3) {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main section.open > :nth-child(1) > :nth-child(3) > :nth-child(1) {
  display: block;
}
main section.open > :nth-child(1) > :nth-child(3) > :nth-child(2) {
  background: white;
  -webkit-transition: 1s;
  transition: 1s;
}
main section.open > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(2) {
  visibility: visible;
  opacity: 1;
}
main article {
  background: black;
  color: white;
}
main article > :nth-child(1) > :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
main article > :nth-child(1) > :nth-child(1) > :nth-child(1) h2 {
  font-size: 110px;
}
main article > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  width: 100%;
  max-width: 20px;
}
main article > :nth-child(1) > :nth-child(1) > :nth-child(2) img {
  border-radius: 50%;
  width: 100%;
}
main article > :nth-child(1) > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
main article > :nth-child(1) > :nth-child(2) > :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 2px;
}
main article > :nth-child(1) > :nth-child(2) > :nth-child(1) h3 {
  font-size: 16px;
}
main article > :nth-child(1) > :nth-child(2) .hideArticle {
  display: none;
}
main article > :nth-child(1) > :nth-child(2) > :nth-child(3) {
  margin-top: 25px;
  width: 100%;
}
main article > :nth-child(1) > :nth-child(2) > :nth-child(3) h4 {
  border-color: white;
}
main article.open {
  width: 50%;
}
main article.open > :nth-child(1) > :nth-child(2) > :nth-child(1) {
  display: none;
}
main article.open > :nth-child(1) > :nth-child(2) .hideArticle {
  display: block;
}
main article.open > :nth-child(1) > :nth-child(2) .hideArticle p {
  line-height: 22px;
  font-size: 17px;
}
main article.open > :nth-child(1) > :nth-child(2) > :nth-child(3) {
  display: none;
}
main article.open > :nth-child(1) > :nth-child(3) {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main article.open > :nth-child(1) > :nth-child(3) > :nth-child(1) {
  display: block;
}
main article.open > :nth-child(1) > :nth-child(3) > :nth-child(2) {
  background: white;
  -webkit-transition: 1s;
  transition: 1s;
}
main article.open > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(2) {
  visibility: visible;
  opacity: 1;
}
main footer {
  background: #C3DA37;
}
main footer > :nth-child(1) > :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
main footer > :nth-child(1) > :nth-child(1) > :nth-child(1) h2 {
  font-size: 110px;
}
main footer > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  width: 100%;
  max-width: 20px;
}
main footer > :nth-child(1) > :nth-child(1) > :nth-child(2) img {
  border-radius: 50%;
  width: 100%;
}
main footer > :nth-child(1) > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
main footer > :nth-child(1) > :nth-child(2) > :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 2px;
}
main footer > :nth-child(1) > :nth-child(2) > :nth-child(1) h3 {
  font-size: 16px;
}
main footer > :nth-child(1) > :nth-child(2) .hideFooter {
  display: none;
}
main footer > :nth-child(1) > :nth-child(2) > :nth-child(3) {
  margin-top: 25px;
  width: 100%;
}
main footer > :nth-child(1) > :nth-child(2) > :nth-child(3) h4 {
  border-color: black;
}
main footer > :nth-child(1) > :nth-child(3) > :nth-child(2) {
  border-color: black;
}
main footer.open {
  width: 50%;
}
main footer.open > :nth-child(1) > :nth-child(2) > :nth-child(1) {
  display: none;
}
main footer.open > :nth-child(1) > :nth-child(2) .hideFooter {
  display: block;
}
main footer.open > :nth-child(1) > :nth-child(2) .hideFooter p {
  line-height: 22px;
  font-size: 17px;
}
main footer.open > :nth-child(1) > :nth-child(2) > :nth-child(3) {
  display: none;
}
main footer.open > :nth-child(1) > :nth-child(3) {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main footer.open > :nth-child(1) > :nth-child(3) > :nth-child(1) {
  display: block;
}
main footer.open > :nth-child(1) > :nth-child(3) > :nth-child(2) {
  background: black;
  -webkit-transition: 1s;
  transition: 1s;
}
main footer.open > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(2) {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 850px) {
  header > :nth-child(1) {
    width: 50%;
  }
  header > :nth-child(1) > :nth-child(1) > :nth-child(1) {
    text-align: left;
    padding-left: 10px;
  }
  header > :nth-child(2) {
    width: 50%;
  }
  header > :nth-child(2) > :nth-child(1) > :nth-child(1), header > :nth-child(2) > :nth-child(1) > :nth-child(2) {
    display: none;
  }
  header > :nth-child(2) > :nth-child(1) .containHide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid black;
    border-radius: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 0px 2.5px;
  }
  header > :nth-child(2) > :nth-child(1) .containHide > :nth-child(1) {
    padding-left: 10px;
  }
  header > :nth-child(2) > :nth-child(1) .containHide > :nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: center;
    border-radius: 30px;
    background: #919191;
    width: 100%;
    padding: 2.5px 20px;
    height: 32px;
    max-width: 27.5px;
  }
  header > :nth-child(2) > :nth-child(1) .containHide > :nth-child(2) img {
    width: 100%;
  }
}
@media (max-width: 450px) {
  header > :nth-child(1) {
    width: 40%;
  }
  header > :nth-child(1) > :nth-child(1) > :nth-child(1) {
    width: 100%;
    text-align: center;
    padding-left: 0px;
  }
  header > :nth-child(1) > :nth-child(1) > :nth-child(2) {
    display: none;
  }
  header > :nth-child(2) {
    width: 60%;
  }
  header > :nth-child(2) > :nth-child(1) > :nth-child(1), header > :nth-child(2) > :nth-child(1) > :nth-child(2) {
    display: none;
  }
  header > :nth-child(2) > :nth-child(1) .containHide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid black;
    border-radius: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 0px 2.5px;
  }
  header > :nth-child(2) > :nth-child(1) .containHide > :nth-child(1) {
    padding-left: 10px;
  }
  header > :nth-child(2) > :nth-child(1) .containHide > :nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: center;
    border-radius: 30px;
    background: #919191;
    width: 100%;
    padding: 2.5px 20px;
    height: 32px;
    max-width: 27.5px;
  }
  header > :nth-child(2) > :nth-child(1) .containHide > :nth-child(2) img {
    width: 100%;
  }
}
@media (max-width: 850px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  main section, main article, main footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    place-content: center;
    border-radius: 30px;
    height: 63%;
    width: 100%;
  }
  main section h4, main article h4, main footer h4 {
    font-weight: 100;
  }
  main section > :nth-child(1), main article > :nth-child(1), main footer > :nth-child(1) {
    padding-bottom: 20px;
  }
  main section > :nth-child(1) > :nth-child(2) > :nth-child(3) h4, main article > :nth-child(1) > :nth-child(2) > :nth-child(3) h4, main footer > :nth-child(1) > :nth-child(2) > :nth-child(3) h4 {
    font-size: 14.5px;
    padding: 2.5px 5px;
    border: 1px solid;
    border-radius: 30px;
  }
  main section > :nth-child(1) > :nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  main section > :nth-child(1) > :nth-child(1) > :nth-child(1) h2 {
    font-size: 150px;
  }
  main section > :nth-child(1) > :nth-child(1) > :nth-child(2) {
    max-width: 50px;
  }
  main section > :nth-child(1) > :nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    gap: 30px;
  }
  main section > :nth-child(1) > :nth-child(2) > :nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    gap: 5px;
  }
  main section > :nth-child(1) > :nth-child(2) > :nth-child(1) h3 {
    font-size: 16px;
  }
  main section > :nth-child(1) > :nth-child(2) .hideSection {
    display: block;
  }
  main section > :nth-child(1) > :nth-child(2) .hideSection p {
    line-height: 22px;
    font-size: 17px;
  }
  main section > :nth-child(1) > :nth-child(2) .hideSection p br {
    display: none;
  }
  main section > :nth-child(1) > :nth-child(2) > :nth-child(3) {
    margin-top: 25px;
    width: 100%;
  }
  main section > :nth-child(1) > :nth-child(2) > :nth-child(3) h4 {
    border-color: white;
  }
  main section.open {
    width: 100%;
  }
  main section.open > :nth-child(1) > :nth-child(2) > :nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main section.open > :nth-child(1) > :nth-child(2) > :nth-child(3) {
    display: block;
  }
  main section.open > :nth-child(1) > :nth-child(3) {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  main section.open > :nth-child(1) > :nth-child(3) > :nth-child(1) {
    display: none;
  }
  main section.open > :nth-child(1) > :nth-child(3) > :nth-child(2) {
    background: transparent;
    -webkit-transition: 1s;
    transition: 1s;
  }
  main section.open > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(2) {
    visibility: hidden;
  }
  main article > :nth-child(1) > :nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  main article > :nth-child(1) > :nth-child(1) > :nth-child(1) h2 {
    font-size: 150px;
  }
  main article > :nth-child(1) > :nth-child(1) > :nth-child(2) {
    max-width: 50px;
  }
  main article > :nth-child(1) > :nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    gap: 30px;
  }
  main article > :nth-child(1) > :nth-child(2) > :nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    gap: 5px;
  }
  main article > :nth-child(1) > :nth-child(2) > :nth-child(1) h3 {
    font-size: 16px;
  }
  main article > :nth-child(1) > :nth-child(2) .hideArticle {
    display: block;
  }
  main article > :nth-child(1) > :nth-child(2) .hideArticle p {
    line-height: 22px;
    font-size: 17px;
  }
  main article > :nth-child(1) > :nth-child(2) .hideArticle p br {
    display: none;
  }
  main article > :nth-child(1) > :nth-child(2) > :nth-child(3) {
    margin-top: 25px;
    width: 100%;
  }
  main article > :nth-child(1) > :nth-child(2) > :nth-child(3) h4 {
    border-color: white;
  }
  main article.open {
    width: 100%;
  }
  main article.open > :nth-child(1) > :nth-child(2) > :nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main article.open > :nth-child(1) > :nth-child(2) > :nth-child(3) {
    display: block;
  }
  main article.open > :nth-child(1) > :nth-child(3) {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  main article.open > :nth-child(1) > :nth-child(3) > :nth-child(1) {
    display: none;
  }
  main article.open > :nth-child(1) > :nth-child(3) > :nth-child(2) {
    background: transparent;
    -webkit-transition: 1s;
    transition: 1s;
  }
  main article.open > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(2) {
    visibility: hidden;
  }
  main footer > :nth-child(1) > :nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  main footer > :nth-child(1) > :nth-child(1) > :nth-child(1) h2 {
    font-size: 150px;
  }
  main footer > :nth-child(1) > :nth-child(1) > :nth-child(2) {
    max-width: 50px;
  }
  main footer > :nth-child(1) > :nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    gap: 30px;
  }
  main footer > :nth-child(1) > :nth-child(2) > :nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    gap: 5px;
  }
  main footer > :nth-child(1) > :nth-child(2) > :nth-child(1) h3 {
    font-size: 16px;
  }
  main footer > :nth-child(1) > :nth-child(2) .hideFooter {
    display: block;
  }
  main footer > :nth-child(1) > :nth-child(2) .hideFooter p {
    line-height: 22px;
    font-size: 17px;
  }
  main footer > :nth-child(1) > :nth-child(2) .hideFooter p br {
    display: none;
  }
  main footer > :nth-child(1) > :nth-child(2) > :nth-child(3) {
    margin-top: 25px;
    width: 100%;
  }
  main footer > :nth-child(1) > :nth-child(2) > :nth-child(3) h4 {
    border-color: black;
  }
  main footer.open {
    width: 100%;
  }
  main footer.open > :nth-child(1) > :nth-child(2) > :nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main footer.open > :nth-child(1) > :nth-child(2) > :nth-child(3) {
    display: block;
  }
  main footer.open > :nth-child(1) > :nth-child(3) {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  main footer.open > :nth-child(1) > :nth-child(3) > :nth-child(1) {
    display: none;
  }
  main footer.open > :nth-child(1) > :nth-child(3) > :nth-child(2) {
    background: transparent;
    -webkit-transition: 1s;
    transition: 1s;
  }
  main footer.open > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(2) {
    visibility: hidden;
  }
}