body{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	height: 100%;
	font-family: 'Inter', sans-serif;
	main{
		margin: 0 auto;
		width: 99%;
	}
	img{
		cursor: pointer;
	}
}

header{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 99%;
	margin-top: 2.5px;
	h1, h2, h3{
		font-size: 13px;
		font-weight: 700;
	}
	>:nth-child(1), >:nth-child(2){
		display: flex;
		flex-flow: row wrap;
		border: 1px solid black;
		border-radius: 30px;
		align-items: center;
		justify-content: space-between;
	}
	>:nth-child(1){
		width: 20%;
		padding: 2.5px;
		>:nth-child(1){
			border-radius: 30px;
			width: 100%;
			align-items: center;
			background: black;
			display: flex;
			flex-flow: wrap wrap;
			justify-content: space-between;
			padding: 2.5px;
			>:nth-child(1){
				width: 60%;
				text-align: center;
				border-radius: 30px;
				h1{
					color: white;
				}
			}
			>:nth-child(2){
				border-radius: 30px;
				background: white;
				width: 100%;
				max-width: 18.5px;
				padding: 10px 25px;
				img{
					width: 100%;
				}
			}
		}
	}
	>:nth-child(2){
		width: 80%;
		padding: 2.5px;	
		>:nth-child(1){	
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			border-radius: 30px;
			>:nth-child(1){
				display: flex;
				flex-flow: row nowrap;
			}
			>:nth-child(1){
				gap: 2.5px;
				>:nth-child(1), >:nth-child(2), >:nth-child(3){
					border: 1px solid black;
					border-radius: 50px;
					display: flex;
					place-content: center;
					width: 100%;
					max-width: 18.5px;
					padding: 12px;
					img{
						width: 100%;
					}
				}
			}
			>:nth-child(2){
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				justify-content: flex-end;
				width: 80%;
				>:nth-child(1){
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					justify-content: flex-end;
					width: 100%;
					gap: 2.5px;
					>:nth-child(1), >:nth-child(2){
						display: flex;
						flex-flow: row nowrap;
						align-items: center;
						justify-content: space-between;
						border-radius: 30px;
						border: 1px solid black;
						padding: 2.5px;
						>:nth-child(1){
							padding-left: 10px;
						}
						>:nth-child(2){
							display: flex;
							place-content: center;
							height: 35px; 
							border-radius: 30px;
							padding: 2.5px 12px;
							align-items: center;
						}
					}
					>:nth-child(1){
						width: 25%;
						>:nth-child(2){
							background: #C3DA37;
						}
					}
					>:nth-child(2){
						width: 30%;
						>:nth-child(2){
							color: white;
							background: #919191;
							h3{
								font-weight: 400;
							}
						}
					}
				}
			}
			.containHide{
				display: none;
			}	
		}
	}
}

main{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	height: 90%;
	justify-content: space-between;
	h2, h3, h4, p{
		all: unset;
	}
	h2, h3, h4{
		font-weight: bold;
	}
	span{
		text-decoration: underline;
	}
	section, article, footer{
		display: flex;
		place-content: center;
		border-radius: 30px;
		height: 99%;
		width: 33.5%;
		transition: .8s;
		cursor: pointer;
		>:nth-child(1){
			display: flex;
			flex-flow: column wrap;
			justify-content: space-between;
			margin: 0 auto;
			width: 87%;
			height: 95%;
			padding-top: 20px;
			>:nth-child(2){
				>:nth-child(3){
					h4{
						font-size: 13.5px;
						padding: 2.5px 5px;
						border: 1px solid;
						border-radius: 30px;
					}
				}
			}
			>:nth-child(3){
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				justify-content: flex-end;
				>:nth-child(1){
					display: none;
					p{
						font-size: 11px;
					}
				}
				>:nth-child(2){
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					border: 1px solid white;
					border-radius: 30px;
					padding: 7.5px 15px;
					>:nth-child(1), >:nth-child(2){
						width: 100%;
						max-width: 20px;
						img{
							width: 100%;
						}
					}
					>:nth-child(2){
						position: absolute;
						visibility: hidden;
						opacity: 0;
					}
				}
			}
		}
		&:hover{
			transition: .8s;
		}
	}
	section{
		background: url('../IMG/photo1.jpg') center  no-repeat;
		background-size: cover;
		color: white;
		>:nth-child(1){
			>:nth-child(1){
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				border-bottom: 1px solid rgba(white, .3);
				>:nth-child(1){
					h2{
						font-size: 110px;
					}
				}
				>:nth-child(2){
					width: 100%;
					max-width: 30px;
					img{
						border-radius: 50%;
						width: 100%;
					}
				}
			}
			>:nth-child(2){
				display: flex;
				flex-flow: row wrap;
				>:nth-child(1){
					display: flex;
					flex-flow: column wrap;
					gap: 2px;
					h3{
						font-size: 16px;
					}
				}
				.hideSection{
					display: none;
				}
				>:nth-child(3){
					margin-top: 25px;
					width: 100%;
					h4{
						border-color: white;
					}
				}
			}
			>:nth-child(3){
				>:nth-child(2){

				}
			}
		}
	}
	section.open{
		width: 50%;
		>:nth-child(1){
			>:nth-child(2){
				>:nth-child(1){
					display: none;
				}
				.hideSection{
					display: block;
					p{
						line-height: 22px;
						font-size: 17px;
					}
				}
				>:nth-child(3){
					display: none;
				}
			}
			>:nth-child(3){
				justify-content: space-between;
				>:nth-child(1){
					display: block;
				}
				>:nth-child(2){
					background: white;
					transition: 1s;
					>:nth-child(2){
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}
	}
	article{
		background: black;
		color: white;
		>:nth-child(1){
			>:nth-child(1){
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				border-bottom: 1px solid rgba(white, .3);
				>:nth-child(1){
					h2{
						font-size: 110px;
					}
				}
				>:nth-child(2){
					width: 100%;
					max-width: 20px;
					img{
						border-radius: 50%;
						width: 100%;
					}
				}
			}
			>:nth-child(2){
				display: flex;
				flex-flow: row wrap;
				>:nth-child(1){
					display: flex;
					flex-flow: column wrap;
					gap: 2px;
					h3{
						font-size: 16px;
					}
				}
				.hideArticle{
					display: none;
				}
				>:nth-child(3){
					margin-top: 25px;
					width: 100%;
					h4{
						border-color: white;
					}
				}
			}
		}
	}
	article.open{
		width: 50%;
		>:nth-child(1){
			>:nth-child(2){
				>:nth-child(1){
					display: none;
				}
				.hideArticle{
					display: block;
					p{
						line-height: 22px;
						font-size: 17px;
					}
				}
				>:nth-child(3){
					display: none;
				}
			}
			>:nth-child(3){
				justify-content: space-between;
				>:nth-child(1){
					display: block;
				}
				>:nth-child(2){
					background: white;
					transition: 1s;
					>:nth-child(2){
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}
	}
	footer{
		background: #C3DA37;
		>:nth-child(1){
			>:nth-child(1){
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				border-bottom: 1px solid rgba(black, .3);
				>:nth-child(1){
					h2{
						font-size: 110px;
					}
				}
				>:nth-child(2){
					width: 100%;
					max-width: 20px;
					img{
						border-radius: 50%;
						width: 100%;
					}
				}
			}
			>:nth-child(2){
				display: flex;
				flex-flow: row wrap;
				>:nth-child(1){
					display: flex;
					flex-flow: column wrap;
					gap: 2px;
					h3{
						font-size: 16px;
					}
				}
				.hideFooter{
					display: none;
				}
				>:nth-child(3){
					margin-top: 25px;
					width: 100%;
					h4{
						border-color: black;
					}
				}
			}
			>:nth-child(3){
				>:nth-child(2){
					border-color: black;
				}
			}
		}
	}
	footer.open{
		width: 50%;
		>:nth-child(1){
			>:nth-child(2){
				>:nth-child(1){
					display: none;
				}
				.hideFooter{
					display: block;
					p{
						line-height: 22px;
						font-size: 17px;
					}
				}
				>:nth-child(3){
					display: none;
				}
			}
			>:nth-child(3){
				justify-content: space-between;
				>:nth-child(1){
					display: block;
				}
				>:nth-child(2){
					background: black;
					transition: 1s;
					>:nth-child(2){
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}
	}
}

@media (max-width: 850px){
	header{
		>:nth-child(1){
			width: 50%;
			>:nth-child(1){
				>:nth-child(1){
					text-align: left;
					padding-left: 10px;
				}
			}
		}
		>:nth-child(2){
			width: 50%;
			>:nth-child(1){	
				>:nth-child(1), >:nth-child(2){
					display: none;
				}
				.containHide{
					display: flex;
					width: 100%;
					justify-content: space-between;
					align-items: center;
					border: 1px solid black;
					border-radius: 30px;
					flex-flow: row wrap;
					padding: 0px 2.5px;
					>:nth-child(1){
						padding-left: 10px;
					}
					>:nth-child(2){
						display: flex;
						place-content: center;
						border-radius: 30px;
						background: #919191;
						width: 100%;
						padding: 2.5px 20px;
						height: 32px;
						max-width: 27.5px;
						img{
							width: 100%;
						}
					}
				}	
			}
		}
	}	
}

@media (max-width: 450px){
	header{
		>:nth-child(1){
			width: 40%;
			>:nth-child(1){
				>:nth-child(1){
					width: 100%;
					text-align: center;
					padding-left: 0px;
				}
				>:nth-child(2){
					display: none;
				}
			}
		}
		>:nth-child(2){
			width: 60%;
			>:nth-child(1){	
				>:nth-child(1), >:nth-child(2){
					display: none;
				}
				.containHide{
					display: flex;
					width: 100%;
					justify-content: space-between;
					align-items: center;
					border: 1px solid black;
					border-radius: 30px;
					flex-flow: row wrap;
					padding: 0px 2.5px;
					>:nth-child(1){
						padding-left: 10px;
					}
					>:nth-child(2){
						display: flex;
						place-content: center;
						border-radius: 30px;
						background: #919191;
						width: 100%;
						padding: 2.5px 20px;
						height: 32px;
						max-width: 27.5px;
						img{
							width: 100%;
						}
					}
				}	
			}
		}
	}	
}

@media (max-width: 850px){
	main{
		flex-flow: row wrap;
		section, article, footer{
			display: flex;
			flex-flow: row wrap;
			place-content: center;
			border-radius: 30px;
			height: 63%;
			width: 100%;
			h4{
				font-weight: 100;
			}
			>:nth-child(1){
				padding-bottom: 20px;
				>:nth-child(2){
					>:nth-child(3){
						h4{
							font-size: 14.5px;
							padding: 2.5px 5px;
							border: 1px solid;
							border-radius: 30px;
						}
					}
				}
			}
		}
		section{
			>:nth-child(1){
				>:nth-child(1){
					display: flex;
					flex-flow: row wrap;
					justify-content: space-between;
					border-bottom: 1px solid rgba(white, .3);
					>:nth-child(1){
						h2{
							font-size: 150px;
						}
					}
					>:nth-child(2){
						max-width: 50px;
					}
				}
				>:nth-child(2){
					display: flex;
					flex-flow: column wrap;
					gap: 30px;
					>:nth-child(1){
						display: flex;
						flex-flow: column wrap;
						gap: 5px;
						h3{
							font-size: 16px;
						}
					}
					.hideSection{
						display: block;
						p{
							line-height: 22px;
							font-size: 17px;
							br{
								display: none;
							}
						}
					}
					>:nth-child(3){
						margin-top: 25px;
						width: 100%;
						h4{
							border-color: white;
						}
					}
				}
			}
		}
		section.open{
			width: 100%;
			>:nth-child(1){
				>:nth-child(2){
					>:nth-child(1){
						display: flex;
					}
					>:nth-child(3){
						display: block;
					}
				}
				>:nth-child(3){
					justify-content: flex-end;
					>:nth-child(1){
						display: none;
					}
					>:nth-child(2){
						background: transparent;
						transition: 1s;
						>:nth-child(2){
							visibility: hidden;
						}
					}
				}
			}
		}
		article{
			>:nth-child(1){
				>:nth-child(1){
					display: flex;
					flex-flow: row wrap;
					justify-content: space-between;
					border-bottom: 1px solid rgba(white, .3);
					>:nth-child(1){
						h2{
							font-size: 150px;
						}
					}
					>:nth-child(2){
						max-width: 50px;
					}
				}
				>:nth-child(2){
					display: flex;
					flex-flow: column wrap;
					gap: 30px;
					>:nth-child(1){
						display: flex;
						flex-flow: column wrap;
						gap: 5px;
						h3{
							font-size: 16px;
						}
					}
					.hideArticle{
						display: block;
						p{
							line-height: 22px;
							font-size: 17px;
							br{
								display: none;
							}
						}
					}
					>:nth-child(3){
						margin-top: 25px;
						width: 100%;
						h4{
							border-color: white;
						}
					}
				}
			}
		}
		article.open{
			width: 100%;
			>:nth-child(1){
				>:nth-child(2){
					>:nth-child(1){
						display: flex;
					}
					>:nth-child(3){
						display: block;
					}
				}
				>:nth-child(3){
					justify-content: flex-end;
					>:nth-child(1){
						display: none;
					}
					>:nth-child(2){
						background: transparent;
						transition: 1s;
						>:nth-child(2){
							visibility: hidden;
						}
					}
				}
			}
		}
		footer{
			>:nth-child(1){
				>:nth-child(1){
					display: flex;
					flex-flow: row wrap;
					justify-content: space-between;
					border-bottom: 1px solid rgba(white, .3);
					>:nth-child(1){
						h2{
							font-size: 150px;
						}
					}
					>:nth-child(2){
						max-width: 50px;
					}
				}
				>:nth-child(2){
					display: flex;
					flex-flow: column wrap;
					gap: 30px;
					>:nth-child(1){
						display: flex;
						flex-flow: column wrap;
						gap: 5px;
						h3{
							font-size: 16px;
						}
					}
					.hideFooter{
						display: block;
						p{
							line-height: 22px;
							font-size: 17px;
							br{
								display: none;
							}
						}
					}
					>:nth-child(3){
						margin-top: 25px;
						width: 100%;
						h4{
							border-color: black;
						}
					}
				}
			}
		}
		footer.open{
			width: 100%;
			>:nth-child(1){
				>:nth-child(2){
					>:nth-child(1){
						display: flex;
					}
					>:nth-child(3){
						display: block;
					}
				}
				>:nth-child(3){
					justify-content: flex-end;
					>:nth-child(1){
						display: none;
					}
					>:nth-child(2){
						background: transparent;
						transition: 1s;
						>:nth-child(2){
							visibility: hidden;
						}
					}
				}
			}
		}
	}
}